# developer directories

*/bin
*/obj
*/dev
debug
*/recovery
.vscode
.vs
*.bak

# exported assets

*.dds
*.obj
*.dae
*.fbx
#.dll because of the vvl exporter
*.dll
*.csv
*.dat

# debug files + explanations

#Renderdoc Captures
*.cap

#editor files

*.log

# original assets

*.igz
*.iga
*.pak
*.lng
*.hkx
*.hka
*.hkp
*.fmv
*.fsb
*.enc
*.dep
*.arc
*.bld
*.igx
*.igb
*.fb
*.ELF
*.dol
*.pkg
*.vvl
*.wav*

# igCauldron files

gameconfig.json
imgui.ini